@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
	background-size: 100%;
	margin: 0;
	font-size: 20px;
}

body,
html,
main {
	height: 100vh;
}

#clock {
	font-family: 'VT323', monospace;
	height: auto;
	width: auto;
	color: $black-color;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;

}

main {
	display: grid;
	grid-template-columns: 60% 30%;
	width: 100%;
	height: 90%;

}

@media screen and (max-width: 827px) {
	main {
		grid-template-columns: 1fr;
	}
}

.image-wrapper {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* padding: 1em; */
}

.bar-wrapper {
	display: flex;
	align-items: center;
	width: 14em;
}

meter {
  background: #EEE;
	flex-grow: 1;
	border-radius: 5px;
	border: 4px solid #000000;
  width: 100%;
}
meter::-webkit-meter-bar {
  background: #EEE;
}
meter:-moz-meter-optimum::-moz-meter-bar {
  background: #86CC00;
}
meter::-webkit-meter-optimum-value {
  background: #86CC00;
}
.foodBarLabel {
	//margin: 0.5em;
	font-family: 'VT323', monospace;
	font-size: 2.5rem;
	text-transform: uppercase;
}
.button-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// BUTTONS***********************
button {
	font-family: 'VT323', monospace;
	font-size: 2.5rem;
	height: 2.5em;
	width: 7em;
	background: #FFFFFF;
	border: 4px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	box-sizing: border-box;
	padding: 2%;
	margin: 1rem;
	cursor: pointer;
	transition: all 150ms ease-in-out;
}

button:active {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	transform: translateY(4px);
}

button:hover {
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
	background-color: #ededed;
}


.image {
	width: 100%;

}

#monsterSpeech {
	background: white;
	border-radius: 50px;
	border: 4px solid black;
	padding: 10px 20px;
	text-align: center;
	font-family: "VT323", monospace;
	font-size: 2.5rem;
	margin: 0;
}/* a */

#front-arm {
	animation-name: front-arm;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes front-arm {
	0% {
		transform: rotate(0deg);
		transform-origin: center;
	}

	50% {
		transform: rotate(5deg);
		transform-origin: center;
	}

	100% {
		transform: rotate(0deg);
		transform-origin: center;
	}
}


#back-arm {
	animation-name: back-arm;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

@keyframes back-arm {
	0% {
		transform: rotate(0deg);
		transform-origin: center;
	}

	50% {
		transform: rotate(5deg);
		transform-origin: center;
	}

	100% {
		transform: rotate(0deg);
		transform-origin: center;
	}
}
