body {
	background-size: 100%;
}

#clock {
	height: auto;
	width: auto;
	color: #e9eb9e;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
}

main {
	background-color: white;
	border-style: solid;
	display: inline-block;
	width: 50vw;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;


	img {
		width: 90%;
		height: 80%;
	}
}
